body {
    background: grey;
    padding: 50px 30px;
    font-family: sans-serif;
}
img {
    width: 150px;
    height: 150px;
    border: 3px solid;
    border-radius: 20px;
    
}

div {
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid;
    background-color: rgb(85, 85, 66);
}
